.repoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .repoCard {
    width: 80%;
    height: 133px;
    margin-right: 2%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--clr-background);
    color: var(--clr-text);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .repoCard {
      width: 48%;
    }
  }

  @media (max-width: 480px) {
    .repoCard {
      width: 100%;
    }
  }


.repoDescription {
  margin-top: 10px;
  max-height: 3.2em;
  line-height: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repoLink {
  text-decoration: none;
  color: inherit;
}

.repoHeader {
  display: flex;
  align-items: center;
}

.repoIcon {
  margin-right: 5px;
}

.repoName {
  font-weight: bold;
  font-size: 18px;
  color: #0366d6;
}

.repoDetails {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #586069;
}

.language {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.languageColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
}

.languageText {
  font-size: 12px;
}

.repoStat {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.repoStatIcon {
  margin-right: 4px;
}

.repoStatText {
  font-size: 12px;
}
