#withUs {
    color: white;
    font-size: 400%;
    z-index: 0;
}

.landing_div {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 100%;
    height: 100vh;

    background-color: black;

    z-index: -9999;

    overflow-x: hidden;
}

.landing_fade_in {
    position: relative;
}

.landing_div_sentence {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 150%;

    z-index: 1;
}

.landing_div_sentence>h1 {
    position: relative;
    top: -300%;
}

.landing_div_text {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 2em;
    gap: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.color_accent {
 color: aqua;
}

.color_white {
    color: white;
}

.section {
    width: 30%;
    height: 50%;
}

.overlay {
    width: 100%;
    height: 100%;

    background-color: black;
    z-index: 2;
}

.active>text {
    animation: move 1s;
}

@keyframes move {
    from {
        translate: 50px;
    }

    to {
        translate: 100px;
    }
}