.container {
    height: fit-content;
    width: 100%;
    max-width: 100%;
    color: var(--clr-text);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    background-color: var(--clr-background);
    position: relative;
  }

  .text_container {
    max-width: 100%;
    padding: var(--padding-y) var(--padding-x);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .slider_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent2);
    top: 0;
    /* Animation Values */
    left: 100%;
    right: 0%;
  }

  .slider_container {
    position: relative;
    text-align: left;
    overflow: hidden;
    text-align: left;
  }

  .title {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    color: var(--clr-text);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    text-align: left;
    width: 50%;
    display: -webkit-flex;
    display: flex;
    z-index: 1;
  }

  .text {
    font-size: var(--text-size);
    margin: 2px;
    color: var(--clr-text);
  }

  .we_are {
    display: flex;
    gap: .2em;
    width: 100%;
    height: 100%;
    color: var(--clr-text);
    font-weight: bold;
    z-index: 1;
    align-items: center;
    white-space: nowrap;
    font-size: var(--heading-size);
    border-bottom: 1px solid var(--clr-accent);
    padding: 0 var(--padding-x);
  }

  .Banner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }

  @media (max-width: 600px) {

    .text {
      margin: 0;
    }

    .we_are_h1 {
      width: 80%;
    }
  }