.portfolio_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  height: 100vh;
  width: 100%;
  background-color: var(--clr-background);
}

.repo-card {
  background-color: var(--clr-background);
  color: var(--clr-text);
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.repo-link {
  text-decoration: none;
  color: inherit;
}

.repo-header {
  display: flex;
  align-items: center;
}

.repo-name {
  font-weight: bold;
  font-size: 20px;
}

.repo-description {
  margin-top: 10px;
}

.repo-details {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: var(--clr-text-alt);
  font-size: 14px;
}

.language-dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}

.language-text {
  margin-right: 10px;
}

.repo-info {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.repo-info svg {
  margin-right: 3px;
}

.card-wrapper {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.card-body {
  padding-bottom: 1rem;
}

.card-footer {
  display: flex;
  align-items: center;
  color: #768390;
  font-size: 0.875rem;
}
