.portfolio_container {
  height: fit-content;
  max-width: 100%;
  background-color: rgb(248, 248, 248);
  text-align: center;
  color: var(--clr-text);
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 20em;
  position: relative;
}
.motion_h1 {
  position: absolute;
}
.portfolio_image {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.flip_card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip_card_back {
  background-color: var(--clr-text);
  color: var(--clr-background);
  transform: rotateY(180deg);
  text-align: center;
}

.flip_card_back_text {
  display: flex;
  align-items: center;
  padding: 3em;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}