.portfolio_container {
    height: 200vh;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.658);
    align-items: center;
    text-align: center;
    gap: 2em;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}
.wrapper {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;

    background-color: black;
}
.motion_h1 {
    position: relative;
}
.image_container {
    width: 10em;
    height: 10em;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio_image {
    width: 10em;
    height: 10em;
}
