:root {
  --padding-x: 25vw;
  --padding-y: 7vh;
  --padding-between: 20vh;

  --text-size: 1.5rem;
  --heading-size: 3rem;
}

/* Für dark mode */
[data-theme="dark"] {
  --clr-primary: #42F0CD;
  --clr-secondary: #04222F;
  --clr-background: #040F16;

  --clr-text: #cecece;
  --clr-text-alt: #b3b3b3;
  --clr-text-alt-2: #fbfbfb;

  --clr-accent: #71CDF4;
  --clr-accent2: #0fc2ff;
  --clr-accent3: #050505;

  --clr-invalid: #ff0000;
}

/* Für light mode */
[data-theme="light"] {
  --clr-primary: #42f0cd;
  --clr-secondary: #c2e9fa;
  --clr-background: #fbfbfb;

  --clr-text: #1b1b1b;
  --clr-text-alt: #7c7c7c;
  --clr-text-alt-2: #fbfbfb;

  --clr-accent: #12a1de;
  --clr-accent2: #03d1ff;
  --clr-accent3: #050505;

  --clr-invalid: #ff0000;
}

/* scrollbar styling */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
  width: .2em;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1em;
}

body {
  margin: 0;
  display: block;
  background-color: var(--clr-background);
}

body,
html {
  position: relative;
  overflow-x: clip;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
}

@media (max-width: 1000px) {
  :root {
    --padding-x: 15vw;
  }
}

@media (max-width: 700px) {
  :root {
    --padding-x: 5vw;
    --padding-y: 5vh;

    --text-size: 4vw;
    --heading-size: 6vw;

  }
}

@media (max-width: 400px) {
  :root {
    --text-size: 4vw;
    --heading-size: 7vw;
  }
}
