:root {
  /* Color palette: */

  --clr-background: #F0EDEE;
  --clr-text: rgb(48, 48, 48);
  --clr-text-alt: #7C7C7C;
  --clr-accent: #7EC4CF;


  --clr-invalid: rgb(255, 100, 0);
}

body {
  margin: 0;
  display: block;
  background-color: black;
}

body, html {
  position: relative;
  overflow-x: clip;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
}