:root {
  --padding-x: 15vw;
  --padding-y: 10vh;
  --padding-between: 20vh;
}

/* Für dark mode */
[data-theme="dark"] {
  --clr-primary: #42F0CD;
  --clr-secondary: #04222F;
  --clr-background: #040F16;

  --clr-text: #FAFAFA;
  --clr-text-alt: #b3b3b3;
  --clr-text-alt-2: #fbfbfb;

  --clr-accent: #71CDF4;
  --clr-accent2: #0fc2ff;
  --clr-accent3: #050505;

  --clr-invalid: #ff0000;
}

/* Für light mode */
[data-theme="light"] {
  --clr-primary: #42f0cd;
  --clr-secondary: #c2e9fa;
  --clr-background: #fbfbfb;

  --clr-text: #1b1b1b;
  --clr-text-alt: #7c7c7c;
  --clr-text-alt-2: #fbfbfb;

  --clr-accent: #12a1de;
  --clr-accent2: #03d1ff;
  --clr-accent3: #050505;

  --clr-invalid: #ff0000;
}

body {
  margin: 0;
  display: block;
  background-color: var(--clr-background);
}

body,
html {
  position: relative;
  overflow-x: clip;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
}
