#textInput {
    height: 5em;
    display: flex;
    background-color: transparent;
}


.container {
    position: relative;

    max-width: 100%;
    height: 100vh;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: var(--clr-text);
}

.contact_form>h1 {
    font-size: 300%;
}

.contact_form {
    padding: 5em;
    gap: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.form {
    width: 50em;
    height: 40em;
    display: flex;
    border-radius: 1em;
    z-index: 0;
    color: var(--clr-text);
    overflow: hidden;
}

.form_wrapper {
    width: 100%;
    max-height: 100%;
    display: flex;
    gap: 4em;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 2em;
    background-color: var(--clr-background);
}

.contact_information {
    width: 100%;
    max-height: 100%;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: baseline;

    background-color: var(--clr-background);

}

.contact_information_element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.icon_container {
    position: relative;
    background-color: white;
    border-radius: 100%;
    width: 2em;
    height: 2em;
}

.background {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .2;
}

.input_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text_wrapper {
    display: flex;
    gap: .5em;
    justify-content: baseline;
    align-items: flex-end;
}


.input {
    padding: .3em;
    width: 100%;
    border: none;
    border-bottom: solid 1px grey;
    background-color: transparent;
    color: var(--clr-text);
    resize: none;
}

.input:focus {
    outline: none;
}

.input:invalid {
    border-bottom: 2px solid var(--clr-invalid);
}

.input::placeholder {
    color: var(--clr-text);
}

.submitButton {
    position: relative;
    
    width: 15em;
    height: 4em;
    border-radius: 1em;
    color: var(--clr-text);
    background-color: rgb(34, 34, 34);
    border: 1px black;
}

.button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submitButton:hover {
    cursor: pointer;
}


@media (max-width: 800px) {
    .contact_form, .form {
        width: 90%;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        height: fit-content;
        padding: 2em;
        border-radius: 2em;
        overflow: hidden;
    }

    .contact_information {
        background-color: var(--clr-background);
        width: 100%;
    }
}