.footer {
  background-color: var(--clr-accent3);
  color: var(--clr-text-alt-2);
  padding: 0.1rem;
  text-align: center;
  font-size: 1.2rem;
}

.footer_link {
  background: linear-gradient(
    45deg,
    var(--clr-accent),
    var(--clr-accent2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_text {
  font-size: large;
}

.footer-link:hover {
  text-decoration: underline;
}
